:root {
  /*
  primary
  */
  --clr-primary-dark-cyan : hsl(185, 75%, 39%);
  --clr-primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --clr-primary-dark-grayish-blue: hsl(227, 10%, 46%);
  
  /*
  neutral
  */
  --clr-netural-dark-grey: hsl(0, 0%, 59%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* styles */

body {
  background-color: var(--clr-primary-dark-cyan);
  font-family: 'Kumbh Sans', sans-serif;
  display: grid;
  place-content: center;

  background-image: url(./images/bg-pattern-bottom.svg), url(./images/bg-pattern-top.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 50vw top 50vh, right 50vw bottom 50vh;
}

.container{
  overflow: hidden;
  background-color: #fff;
  border-radius: .5rem;
}

.container-content__bio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-30%);
}

.container-content__bio img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: .3125rem solid #fff;
  margin-bottom: 1rem;
}

.container-content__bio h2 {
  display: flex;
  gap: .5rem;
}
.container-content__bio span {
  font-weight: normal;
  color: var(--clr-netural-dark-grey);
}

.container-content__info {
  margin-top: -1rem;
  padding: 1rem;
  border-top: 1.5px solid #efefef;
  text-align: center;
  display: flex;
  justify-content: space-around;
}